#kaede{
  position:fixed;
  z-index:-1;
  top:0;
  left:0;
  display:block;
  width:100vw;
  height:100vh;
  pointer-events:none;
  border:2px solid red;
}

#kaede, #kaede::before, #kaede::after,
#kaede *, #kaede *:before, #kaede *:after {
  -webkit-box-sizing  : border-box;
     -moz-box-sizing  : border-box;
       -o-box-sizing  : border-box;
      -ms-box-sizing  : border-box;
          box-sizing  : border-box;
}

#kaede .item{
  --y : 0;     /* left */
  --x : 0;     /* top */
  --w : 30px;  /* width */
  --h : 30px;  /* height */
  --r : 0deg;  /* rotate */
  --d : 0.0s;  /* deray */
  --m : 300px; /* move */
  --s : 5.0s; /* speed */

  position:absolute;
  top   : var(--y);
  left  : var(--x);
  width : var(--w);
  height: var(--h);

  opacity:0.0;
  animation : falling var(--s) linear var(--d) forwards;
}

#kaede .item img{
  display:block;
  width:100%;
  height:100%;
  object-fit:contain;
  transform:rotate(var(--r));
}

@keyframes falling{
  0%{
    transform:translate(0,0) rotate(0deg);
    opacity:0.0;
  }
  10%{
    opacity:1.0;
  }
  70%{
    opacity:1.0;
  }
  100%{
    transform:translate(0, var(--m)) rotate(180deg);
    opacity:0.0;
  }
}

/* @keyframes swayFall {
  0% {
    transform: translate(var(--x), var(--y)) rotate(var(--r));
  }
  50% {
    transform: translate(calc(var(--x) + 10px), calc(var(--y) + 50px)) rotate(calc(var(--r) + 5deg));
  }
  100% {
    transform: translate(calc(var(--x) - 10px), calc(var(--y) + 100vh)) rotate(calc(var(--r) - 5deg));
  }
} */
